<h1>音程確認</h1>
<p><%= link_to "戻る", root_path %></p>
<%= button_tag "E3" %>
<%= button_tag "F3" %>
<%= button_tag "F#3" %>
<%= button_tag "G3" %>
<%= button_tag "G#3" %>
<%= button_tag "A3" %>
<%= button_tag "A#3" %>
<%= button_tag "B3" %>
<%= button_tag "C4" %>
<%= button_tag "C#4" %>
<%= button_tag "D4" %>
<%= button_tag "D#4" %>
