<h1>Pitch Test トップページ</h1>
<p><%= link_to "音程を確認する", pitches_path %></p>
<p><%= link_to "クイズに挑戦する", quizes_path %></p>
<% if user_signed_in? %>
  <%= "#{current_user.nickname}でログイン中" %>
  <p><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></p>
<% else %>
  <p><%= link_to "ユーザ登録をする", new_user_registration_path %></p>
  <p><%= link_to "ログイン", new_user_session_path %></p>
<% end %>

<div class="ranking">
  <h3>Total 正解数ランキング</h3>
  <table>
    <tr>
      <th class="rank">順位</th> <th class="nickname">nickname</th> <th class="score">Total 正解数</th>
    </tr>
    <% @total_correct_count.each_with_index do |score, i| %>
      <% if i % 2 == 0 %>
        <tr class="even">
          <td><%= i+1 %></td> <td><%= score.user.nickname %></td> <td><%= score.total_correct_count %></td>
        </tr>
      <% else %>
        <tr class="odd">
          <td><%= i+1 %></td> <td><%= score.user.nickname %></td> <td><%= score.total_correct_count %></td>
        </tr>
      <% end %>
    <% end %>
  </table>
</div>

<div class="ranking">
  <h3>本日の 正解数ランキング</h3>
  <table>
    <tr>
      <th class="rank">順位</th> <th class="nickname">nickname</th> <th class="score">本日の 正解数</th>
    </tr>
    <% @daily_correct_count.each_with_index do |score, i| %>
      <% if i % 2 == 0 %>
        <tr class="even">
          <td><%= i+1 %></td> <td><%= score.user.nickname %></td> <td><%= score.daily_correct_count %></td>
        </tr>
      <% else %>
        <tr class="odd">
          <td><%= i+1 %></td> <td><%= score.user.nickname %></td> <td><%= score.daily_correct_count %></td>
        </tr>
      <% end %>
    <% end %>
  </table>
</div>

<div class="ranking">
  <h3>Total 正答率ランキング</h3>
  <table>
    <tr>
      <th class="rank">順位</th> <th class="nickname">nickname</th> <th class="score">Total 正答率</th>
    </tr>
    <% @total_correct_rate.each_with_index do |score, i| %>
      <% if i % 2 == 0 %>
        <tr class="even">
          <td><%= i+1 %></td> <td><%= score.user.nickname %></td> <td><%= score.total_correct_rate %> %</td>
        </tr>
      <% else %>
        <tr class="odd">
          <td><%= i+1 %></td> <td><%= score.user.nickname %></td> <td><%= score.total_correct_rate %> %</td>
        </tr>
      <% end %>
    <% end %>
  </table>
</div>

<div class="ranking">
  <h3>本日の 正答率ランキング</h3>
  <table>
    <tr>
      <th class="rank">順位</th> <th class="nickname">nickname</th> <th class="score">本日の 正答率</th>
    </tr>
    <% @daily_correct_rate.each_with_index do |score, i| %>
      <% if i % 2 == 0 %>
        <tr class="even">
          <td><%= i+1 %></td> <td><%= score.user.nickname %></td> <td><%= score.daily_correct_rate %> %</td>
        </tr>
      <% else %>
        <tr class="odd">
          <td><%= i+1 %></td> <td><%= score.user.nickname %></td> <td><%= score.daily_correct_rate %> %</td>
        </tr>
      <% end %>
    <% end %>
  </table>
</div>

<div class="ranking">
  <h3>Total 平均正解時間ランキング</h3>
  <table>
    <tr>
      <th class="rank">順位</th> <th class="nickname">nickname</th> <th class="score">Total 平均正解時間</th>
    </tr>
    <% @total_average_time.each_with_index do |score, i| %>
      <% if i % 2 == 0 %>
        <tr class="even">
          <td><%= i+1 %></td> <td><%= score.user.nickname %></td> <td><%= score.total_average_time %> s</td>
        </tr>
      <% else %>
        <tr class="odd">
          <td><%= i+1 %></td> <td><%= score.user.nickname %></td> <td><%= score.total_average_time %> s</td>
        </tr>
      <% end %>
    <% end %>
  </table>
</div>

<div class="ranking">
  <h3>本日の 平均正解時間ランキング</h3>
  <table>
    <tr>
      <th class="rank">順位</th> <th class="nickname">nickname</th> <th class="score">本日の 平均正解時間</th>
    </tr>
    <% @daily_correct_rate.each_with_index do |score, i| %>
      <% if i % 2 == 0 %>
        <tr class="even">
          <td><%= i+1 %></td> <td><%= score.user.nickname %></td> <td><%= score.daily_average_time %> s</td>
        </tr>
      <% else %>
        <tr class="odd">
          <td><%= i+1 %></td> <td><%= score.user.nickname %></td> <td><%= score.daily_average_time %> s</td>
        </tr>
      <% end %>
    <% end %>
  </table>
</div>
