<h1>クイズ</h1>
<p><%= link_to "戻る", root_path %></p>
<p><%= link_to "音程を確認する", pitches_path %></p>
<%= button_tag "push!", id: "button" %>
<br>
<br>
<%= button_tag "E3", class: "answer" %>
<%= button_tag "F3", class: "answer" %>
<%= button_tag "F#3", class: "answer" %>
<%= button_tag "G3", class: "answer" %>
<%= button_tag "G#3", class: "answer" %>
<%= button_tag "A3", class: "answer" %>
<%= button_tag "A#3", class: "answer" %>
<%= button_tag "B3", class: "answer" %>
<%= button_tag "C4", class: "answer" %>
<%= button_tag "C#4", class: "answer" %>
<%= button_tag "D4", class: "answer" %>
<%= button_tag "D#4", class: "answer" %>

<div id="correct"></div>

<%= audio_tag('se_maoudamashii_onepoint14.mp3', id: "chime_wrong") %>
<%= audio_tag('se_maoudamashii_onepoint15.mp3', id: "chime_correct") %>
