<h1>クイズ</h1>
<p><%= link_to "戻る", root_path %></p>
<p><%= link_to "音程を確認する", pitches_path %></p>
<div class="data_box">
  <div class="data">正解：<span id="correct_count">0</span></div>
  <div class="data">間違い：<span id="wrong_count">0</span></div>
  <div class="data">正答率：<span id="correct_rate">0</span> %</div>
  <div class="data">経過時間：<span id="total_time">0</span> s</div>
  <div class="data">平均正解時間：<span id="average_time">0</span> s</div>
</div>
<%= button_tag "push!", id: "start_button" %>
<%= button_tag "hear again!", id: "again_button" %>
<br>
<br>
<%= button_tag "E3", class: "answer_button" %>
<%= button_tag "F3", class: "answer_button" %>
<%= button_tag "F#3", class: "answer_button" %>
<%= button_tag "G3", class: "answer_button" %>
<%= button_tag "G#3", class: "answer_button" %>
<%= button_tag "A3", class: "answer_button" %>
<%= button_tag "A#3", class: "answer_button" %>
<%= button_tag "B3", class: "answer_button" %>
<%= button_tag "C4", class: "answer_button" %>
<%= button_tag "C#4", class: "answer_button" %>
<%= button_tag "D4", class: "answer_button" %>
<%= button_tag "D#4", class: "answer_button" %>

<div id="correct"></div>

<%= audio_tag('se_maoudamashii_onepoint14.mp3', id: "chime_wrong") %>
<%= audio_tag('se_maoudamashii_onepoint15.mp3', id: "chime_correct") %>
