<h1>クイズ</h1>
<p><%= link_to "戻る", root_path %></p>
<p><%= link_to "音程を確認する", pitches_path %></p>
<% if user_signed_in? %>
  <%= form_with model: @scores, url: quize_path(current_user.id), method: :patch, local: true do |f| %>
    <p>Total Score</p>
    <div class="data_box">
      <div class="data">正解：<%= f.text_field :total_correct_count, readonly: true, id: "total_correct_count" %></div>
      <div class="data">間違い：<%= f.text_field :total_wrong_count, readonly: true, id: "total_wrong_count" %></div>
      <div class="data">正答率：<%= f.text_field :total_correct_rate, readonly: true, id: "total_correct_rate" %> %</div>
      <div class="data">経過時間：<%= f.text_field :total_time, readonly: true, id: "total_time" %> s</div>
      <div class="data">平均正解時間：<%= f.text_field :total_average_time, readonly: true, id: "total_average_time" %> s</div>
    </div>
    <p>Daily Score</p>
    <div class="data_box">
      <div class="data">正解：<%= f.text_field :daily_correct_count, readonly: true, id: "daily_correct_count" %></div>
      <div class="data">間違い：<%= f.text_field :daily_wrong_count, readonly: true, id: "daily_wrong_count" %></div>
      <div class="data">正答率：<%= f.text_field :daily_correct_rate, readonly: true, id: "daily_correct_rate" %> %</div>
      <div class="data">経過時間：<%= f.text_field :daily_time, readonly: true, id: "daily_time" %> s</div>
      <div class="data">平均正解時間：<%= f.text_field :daily_average_time, readonly: true, id: "daily_average_time" %> s</div>
    </div>
    <%= f.submit id: "submit", style: "display:none;", "data-disable-with": false %>
  <% end %>
<% else %>
  <%= form_with local: true do |f| %>
    <p>Total Score</p>
    <div class="data_box">
      <div class="data">正解：<%= f.text_field :total_correct_count, value: 0, readonly: true, id: "total_correct_count" %></div>
      <div class="data">間違い：<%= f.text_field :total_wrong_count, value: 0, readonly: true, id: "total_wrong_count" %></div>
      <div class="data">正答率：<%= f.text_field :total_correct_rate, value: 0, readonly: true, id: "total_correct_rate" %> %</div>
      <div class="data">経過時間：<%= f.text_field :total_time, value: 0, readonly: true, id: "total_time" %> s</div>
      <div class="data">平均正解時間：<%= f.text_field :total_average_time, value: 0, readonly: true, id: "total_average_time" %> s</div>
    </div>
    <div class="data_box", style='display:none;'>
      <div class="data">正解：<%= f.text_field :daily_correct_count, value: 0, readonly: true, id: "daily_correct_count" %></div>
      <div class="data">間違い：<%= f.text_field :daily_wrong_count, value: 0, readonly: true, id: "daily_wrong_count" %></div>
      <div class="data">正答率：<%= f.text_field :daily_correct_rate, value: 0, readonly: true, id: "daily_correct_rate" %> %</div>
      <div class="data">経過時間：<%= f.text_field :daily_time, value: 0, readonly: true, id: "daily_time" %> s</div>
      <div class="data">平均正解時間：<%= f.text_field :daily_average_time, value: 0, readonly: true, id: "daily_average_time" %> s</div>
    </div>
  <% end %>
<% end %>
<%= button_tag "push!", id: "start_button" %>
<%= button_tag "hear again!", id: "again_button" %>
<br>
<br>
<%= button_tag "E3", class: "answer_button" %>
<%= button_tag "F3", class: "answer_button" %>
<%= button_tag "F#3", class: "answer_button" %>
<%= button_tag "G3", class: "answer_button" %>
<%= button_tag "G#3", class: "answer_button" %>
<%= button_tag "A3", class: "answer_button" %>
<%= button_tag "A#3", class: "answer_button" %>
<%= button_tag "B3", class: "answer_button" %>
<%= button_tag "C4", class: "answer_button" %>
<%= button_tag "C#4", class: "answer_button" %>
<%= button_tag "D4", class: "answer_button" %>
<%= button_tag "D#4", class: "answer_button" %>

<div id="correct"></div>

<%= audio_tag('se_maoudamashii_onepoint14.mp3', id: "chime_wrong") %>
<%= audio_tag('se_maoudamashii_onepoint15.mp3', id: "chime_correct") %>
